.tableDiv{
}
.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 24px;
   width: 268px;
}

.groupDiv{
  border:2px solid #0094ff;
}
.groupDiv h2{
  background:#0094ff;color:white;
}
.groupDiv .groupDivContent{
  color:#333;
}
.groupDiv {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
}
.text-input{
  display: inline-block;
width: 284px;
height: 27px;
box-sizing: border-box;
outline: none;
border-radius: 3px;
}
.filterElementsDiv{
      display: inline-flex;
}
.fromToDiv{
  display:inline;
}
