/*table {
  table-layout: fixed;
  width: 100%;
  /*border-collapse: collapse;
  border: 1px solid;
  height: 100px;
  overflow-y: scroll;

}
thead{
  background-color:#3C3A3A;
  color:white;
}
th, td {
  padding: 0px;
}
tbody tr{

  text-align: left;
}*/

.table-wrapper {
  position:relative;
}
.table-scroll {
  height: 203px;
  overflow:auto;
  margin-top:20px;
}
.table-wrapper table {
  width:100%;

}
.table-wrapper table thead {
  background: #3C3B3B;
  color: #F9F0F0;
}
.table-wrapper table tbody {
  background: #969292;
    color: #1B1818;
}
.table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}
